[Desktop Entry]
Type=Application
Name=Tux Manager
Comment=Linux system monitor inspired by Windows Task Manager
Exec=tux-manager
Icon=/usr/share/pixmaps/tux_manager_256.ico
Categories=System;Monitor;
Terminal=false
